@page "/admin/category-list"
@using Expert.WebShop.vjezbe.Models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;


<PageTitle>Category List</PageTitle>
<h3>Category List</h3>


<ul>
    <button type="button" @onclick="AddCategory" class="btn btn-success">Add new category</button>
    
    <br />
@foreach(var item in categories)
{
   <li>
       <br>
            <button type="button" @onclick="()=>CategoryEdit(item.Id)" class="btn btn-primary">Edit</button>
            <button type="button" @onclick="()=>CategoryDelete(item.Id)" class="btn btn-danger">Delete</button>
       <div class="card" style="width: 18rem">
                
           <div class="card-body">
               <h5 class="card-title">
                        @item.CategoryName
               </h5>
               <p class="card-text">@item.CategoryDescription</p>
               <br>
           </div>
       </div>   
    <br />
  </li>
}
</ul>

@code {
    private List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        var result = await httpClient.GetAsync($"https://expertshopapi.azurewebsites.net/api/Categories");
        if (result.IsSuccessStatusCode)
        {
            categories = await result.Content.ReadFromJsonAsync<List<Category>>();
        }
    }

    public async void AddCategory()
    {
        navManager.NavigateTo("/admin/add-category");
    }



    public async void CategoryEdit(int id)
    {
        navManager.NavigateTo($"/admin/edit-category/{id}");
    }

    public async void CategoryDelete(int id)
    {
        navManager.NavigateTo($"/admin/delete-category/{id}");
    }
}
